<h1>All Products</h1>

<!-- Search Form (Simple Search + Category Filtering) -->
<%= form_with url: products_path, method: :get, local: true do %>
  <label>Search:</label>
  <%= text_field_tag :query, params[:query], placeholder: "Search products..." %>

  <label>Category:</label>
  <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), include_blank: "All Categories" %>

  <%= submit_tag "Search" %>
<% end %>

<!-- Product List Table -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><img src="<%= product.image_url %>" width="50" alt="<%= product.name %>"></td>
        <td><%= link_to product.name, product_path(product) %></td>
        <td>$<%= product.price %></td>
        <td>
          <% if product.category %>
            <%= link_to product.category.name, category_path(product.category) %>
          <% else %>
            No Category
          <% end %>
        </td>
        <td><%= link_to "View", product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Pagination Controls -->
<div>
  <%= paginate @products %>
</div>
